// bower:scss
// endbower

//vars
$avoimage : url("../images/avo.png");
$guacImage : url("../images/guac.png");
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//End Boilerplate CSS Begin custom
.gamescreen {
  background: url("../images/desertbg2.png") no-repeat;
  // border: 1.5px solid black;
  min-height: 600px;
  min-width: 800px;
  // left: 20%;
  // height: 60%;
  // top: 25%;
  position: relative;
  // text-align: center;
  margin-bottom: 5%;
  margin-top: 10%;
  // cursor: url("../images/hammer.png"), auto;

}
.avo {
  background: $avoimage no-repeat;
  background-size: contain;
  position: absolute;
  width: 10%;
  height: 20%;
}
  //change to guacamole class
.guacamole {
    @extend .avo;
    background-image: $guacImage;
}
//Initial avacado positioning
#avo1 {
  bottom: 4%;
  left: 30%;
}
#avo2 {
  left: 45%;
  bottom: 5%;
}
#avo3 {
  bottom: 10%;
  left: 75%
}
#avo4 {
  bottom: 20%;
  left: 20%;
}#avo5 {
  bottom: 25%;
  left: 45%;
}#avo6 {
  bottom: 10%;
}
//Misc signange - score timer, popup at end
#score {
  position: absolute;
  left: 0.01%;
  top: 0.2%;
  padding: 4px;
  width: 10%;
}
#timer {
  @extend #score;
  left: 40%;
  width: 16%;
}
 #element_to_pop_up {
  display:none;
}
.b-close {
border-radius: 7px;
font: bold 131% sans-serif;
margin-left: 15%;
background-color: #2b91af;
color: #fff;
cursor: pointer;
text-align: center;
text-decoration: none;
position: absolute;
width: 30%;
height: 30%;
// right: -7px;
// top: -7px;
}
.b-close:hover {
background-color: #1e1e1e;
}
button{
  background: brown;
}
