// bower:scss
// endbower

//vars
$avoimage : url("../images/avo.png");
$guacImage : url("../images/guac.png");
body {
  background: url('../images/triangular.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//End Boilerplate CSS Begin custom
.gamescreen {
  background: url("../images/desertbg2.png") no-repeat;
  // border: 1.5px solid black;
  min-height: 600px;
  min-width: 800px;
  left: 10%;
  // height: 60%;
  // top: 25%;
  position: relative;
  // text-align: center;
  margin-bottom: 5%;
  margin-top: 10%;
  // cursor: url("../images/hammer.png"), auto;

}
.avo {
  background: $avoimage no-repeat;
  background-size: contain;
  position: absolute;
  width: 10%;
  height: 20%;
  z-index: 5;
}
  //change to guacamole class
.guacamole {
    @extend .avo;
    background-image: $guacImage;
}
//Initial avacado positioning
#avo1 {
  bottom: 4%;
  left: 30%;
}
#avo2 {
  left: 45%;
  bottom: 5%;
}
#avo3 {
  bottom: 10%;
  left: 75%
}
#avo4 {
  bottom: 20%;
  left: 20%;
}#avo5 {
  bottom: 25%;
  left: 45%;
}#avo6 {
  bottom: 10%;
}
//holes

.hole {
  width: 5%;
  height: 5%;
  background-image: url('../images/hole.png');
  background: rgba(215, 129, 4, 0.8);
  position: absolute;
  z-index: 0;
  -webkit-border-radius: 50px 50px;
}
#hole1{
  @extend #avo1;
  left: 26.5%;
}
#hole2{
  @extend #avo2;
  left: 42.5%;
}
#hole3{
  @extend #avo3;
  left: 72.5%;
}
#hole4{
  @extend #avo4;
  left: 19%;
}
#hole5{
  @extend #avo5;
  left: 42%;
}
#hole6{
  @extend #avo6;
}


//Misc signange - score timer, popup at end
.sombrero{
  position: absolute;
  top: -5px;
  left: -25px;
}
#score {
  position: absolute;
  left: 0.01%;
  top: 0.2%;
  padding: 2px;
  width: 14%;
  border-radius: 2px;
  display: inline-block;
  height: 6%;
  line-height: 36px;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  color: #FFF;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;

}
nav, footer.page-footer{
  background-color: #26a69a;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.page-footer{
  @extend nav;
}
main {
    flex: 1 0 auto;
  }

.topscore{
  position: absolute;
  top: 30%;
  left: 10%;
}
.card-title {
  text-decoration-color:  black;
}
.startbutton{
  left: 49%;
  position: absolute;
  top: 10%;
}
.dropdown-button {
  @extend .startbutton;
  left: 63%;
}
#timer {
  @extend #score;
  left: 40%;
  width: 19%;
}
.scorecard{
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
}

 #element_to_pop_up {
  display:none;
}
.b-close {
border-radius: 7px;
font: bold 131% sans-serif;
margin-left: 5%;
background-color: #2b91af;
color: #fff;
cursor: pointer;
text-align: center;
text-decoration: none;
position: absolute;
width: 30%;
height: 30%;
// right: -7px;
// top: -7px;
}
.b-close:hover {
background-color: #1e1e1e;
}
button{
  background: brown;
}
.navwrapper{
  padding: 0;
}
